<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcf.mapper.RedenvelopesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zcf.pojo.Redenvelopes">
        <id column="red_envelopes_id" property="redEnvelopesId" />
        <result column="room_id" property="roomId" />
        <result column="user_id" property="userId" />
        <result column="value_of_pack" property="valueOfPack" />
        <result column="red_envelopes_num" property="redEnvelopesNum" />
        <result column="add_time" property="addTime" />
        <result column="red_envelopes_state" property="redEnvelopesState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        red_envelopes_id, room_id, user_id, value_of_pack, red_envelopes_num, add_time, red_envelopes_state
    </sql>

	<update id="updatestate">
		UPDATE redenvelopes set red_envelopes_state = 2 WHERE red_envelopes_id = #{redenvelopesid}
	</update>
</mapper>
