<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcf.mapper.CustomerserviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zcf.pojo.Customerservice">
        <id column="customerservice_id" property="customerserviceId" />
        <result column="customerservice_phone" property="customerservicePhone" />
        <result column="customerservice_name" property="customerserviceName" />
        <result column="add_time" property="addTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        customerservice_id, customerservice_phone, customerservice_name, add_time
    </sql>

</mapper>
