<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcf.mapper.UserroomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zcf.pojo.Userroom">
        <id column="user_room_id" property="userRoomId" />
        <result column="user_id" property="userId" />
        <result column="room_id" property="roomId" />
        <result column="add_time" property="addTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_room_id, user_id, room_id, add_time
    </sql>

</mapper>
